*

!.gitignore
!.bashrc

!.config/

!.config/btop/
!.config/btop/btop.conf

!.config/fastfetch/
!.config/fastfetch/config.jsonc
!.config/fastfetch/yorha.txt

!.config/nvim/
!.config/nvim/init.vim

!.config/starship.toml
